
/* flip */
.flip-container {
    -webkit-perspective: 4000;
    -moz-perspective: 4000;
    -ms-perspective: 4000;
    perspective: 4000;

    -ms-transform: perspective(4000px);
    -moz-transform: perspective(4000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;

    height: 300px;
    max-width:360px;
    margin:0 auto 30px;
}

.flip-container:hover .back,
.flip-container.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container:hover .front,
.flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flipper {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    transition: 0.6s;

    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform: perspective(4000px);
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    position: relative;
    height:100%;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateY(0deg);

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;
    -ms-transform: rotateY(0deg);

    transition: 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);

    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left: 0;
    border: 1px solid #bcc3cc;
    border-radius:4px;
}

.front {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
}

.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card{
  height: 100%;
}
